{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="panel panel-default">
  <div class="panel-heading">
			<a href="{{url_for('newCategory')}}">
				<button class="btn btn-primary" id="new-category">
					Add category
				</button>
			</a>		
			</div>
			  <div class="panel-body">
				<div class="row">	
				
			{% for key, val in categoryItems.iteritems() %}
			<div class="col-sm-4" style="width:25%">
			<div class="panel panel-primary" style="border-color:white">
			<a href="{{url_for('showItem', category_id=key.id)}}" class="btn btn-info" role="button">
			<div class="panel-heading">{{key.name}}</div>
							<div class="panel-body">
					  <p>{{val}} Items for this category </p>
					  </div>
					  </a>  
					  </div>	
					  </div>	
					
			{% endfor %}	
							  </div>	
							</div>
							</div>
			{% endblock %}