{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

			<h1>Edit Catalog Item</h1>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" maxlength="10" class="form-control" name="price" value="{{item.price}}">
					</div>
					<label for="price">Type:</label>
					<div class="input-group">
						<div class="input-group-addon"></div>
						<input type ="text" maxlength="100" class="form-control" name="price" value="{{item.type}}">
					</div>
					
					<button type="submit" class="btn btn-primary" id="submit" type="submit" name="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
					<a href = "{{url_for('showItem', category_id = category_id)}}">
						<button class="btn btn-primary delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}