{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

			<h1>New Catalog Item</h1>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the course">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the course"></textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					<label for="price">Type:</label>
					<div class="input-group">
						<div class="input-group-addon"></div>
						<input type ="text" class="form-control" maxlength="100" name="type" placeholder="Type">
					</div><br />
					<button type="submit" class="btn btn-primary" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
					<a href = "{{url_for('showItem', category_id = category_id)}}">
						<button class="btn btn-primary delete">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

